*{
    margin: 0;
    padding: 0;
}
ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1228px;
    margin: 0 auto;
    // float: left; 
}

.header{
    width: 100%;
    height: 120px;
}

.top-bar{
    width: 100%;
    height: 40px;
    background: #666;
}

.nav-left{
    float: left;
}

.nav-left ul{
    height: 40px;
    float: left;
    margin: 0;
    padding: 0;
    li {
        float: left;
        a{
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            color: darkgray;
            font-size: 11px;
            padding-right: 41px;
            a:hover{
                color: aliceblue;
            }
        }
    }
}

.nav-right{
    float: right;
}
.nav-right ul{
    width: 305px;
    margin: 0;
    padding: 0;
    float: left;
}
.nav-right ul li{
    width: 73px;
    height: 40px;
    float: left;
    text-align: center;
}
.nav-right ul li a{
    display: block;  
    height: 16px;
    line-height: 12px;
    text-align: center;
    float: left;
    color: darkgray;
    font-size: 11px;
    padding-left:10px;
    border-left: 1px solid darkgray;
    margin: 12px 0 12px 0;
  }

.wechat{
    position: absolute;
    width: 180px;
    height: 200px;
    background-color: #FFF;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 99;
    left: -30px;
    top: 40px;
    display: none;
}
.wechat p{
    font-size: 10px;
    line-height: 160%;
    color: #000;
}

.nav-right ul > li:nth-child(1){
    position: relative;
    
}
.nav-right ul > li:nth-child(1):hover .wechat{
    display: block;
}
.nav-right ul li:hover a {
    color: #fff; 
}

.nav{
    width: 100%;
    height: 40px;
    padding: 20px 0;
}
.nav-bar{
    width: 1300px;
    height: 40px;
    margin: 0 80px;
}

.nav-bar-left{
    width: 700px;
    height: 100%;
    float: left;
        img{
            width: 75px;
            height: 40px;
            float: left;
        }
}

.menu-f1{
    height: 40px;
    float: left;
    margin-left: 100px;
        ul{
            padding: 0;
            margin: 0;
            height: 40px;
            float: left;
                li{
                    height: 40px;
                    float: left;
                    text-align: center;
                        a{
                            line-height: 40px;
                            text-align: center;
                            float: left;
                            font-size: 14px;
                            padding: 0 16px;
                            color: #525050; 
                            :hover{
                                border-bottom: 4px solid #f81717;
                            }
                        }
                }
        }
}

.shopping-car-container {
    font-size: 14px;
    width: 1403px;
    margin: 0 auto;
 }
.shopping-car-container .car-headers-menu {
      width: 1323px;
      height: 28px;
      border-bottom: 1px solid #f5f5f5;
      padding: 0 15px; }
.shopping-car-container .car-headers-menu .row {
        margin-right: -15px;
        margin-left: -15px; }
  
.shopping-car-container .car-menu {
  text-align: center; }

.col-md-1 {
  width: 8.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-md-3 {
  width: 15%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-md-2 {
  width: 16.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.goods-content {
  width: 1323px;
  margin-top: 15px;
  height: 400px;
 }
   

.goods-item {
  width: 1323px;
  height: 182px;
  margin-top: 20px; }

.shopping-car-container .panel-default {
  position: relative; }

.panel-default {
  border-color: #ddd; }

.panel {
  width: 1323px;
  height: 182px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.shopping-car-container .panel-body {
  padding: 15px 0;
  margin-left: 55px;
 }

.car-goods-info {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
 }

.shopping-car-container .goods-content .goods-item .goods-image-column span {
  width: 200px;
  height: 120px;
  box-sizing: border-box;
  text-indent: 2rem;
  line-height: 25px;
  padding: 10px;
  display: block;
  float: left;
 }

.col-md-3 {
  width: 15%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
 }

.goods-params {
  color: darkgray;
 }

.goods-price {
  color: red;
  font-weight: bolder;
 }

.input-group {
  position: relative;
  border-collapse: separate;
  width: 90px;
  height: 34px;
 }

.input-group-btn {
  float: left;
  position: relative;
  font-size: 0;
  white-space: nowrap;
 }

.single-total {
  color: red;
  font-weight: bold;
 }

.btn-danger {
  width: 54px;
  height: 34px;
  color: #000;
 }


.shopping-car-container .panel-default {
  position: relative;
 }

.jiesuan {
  width: 1323px;
  height: 57px;
  border-color: #ddd;
  background: #e5e5e5;
 }

.bottom-menu-include {
  width: 1323px;
  height: 27px;
  background: #e5e5e5; 
}

.bottom-menu {
  display: flex;
  align-items: center;
  justify-content: center; 
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
 }

.bottom-menu #checkAllBottom {
  vertical-align: text-bottom;
 }

#deleteMulty {
  color: cornflowerblue;
  cursor: pointer;
  vertical-align: text-bottom;
 }

#selectGoodsCount {
  color: orangered;
  font-size: 16px;
  font-weight: bolder;
 }

#selectGoodsMoney {
  color: orangered;
  font-size: 16px;
  font-weight: bolder;
 }

.submitDis {
  margin-left: 800px;
  top: -35px;
  width: 70px;
  height: 57px;
  background: #f12020;
 }

.order-content {
  width: 100%;
 }

 .goods-count{
   text-align: center;
 }

 .goods-count .form-control{
   width: 20px;
   position: absolute;
   left: 19px;
 }

 .btn-default2{
   position: absolute;
   left: 45px;
 }




